.product {
	border: 1px solid white;
	border-radius: 20px;
  padding:10px;
	position: relative;

	image {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 10%;
	}
	p {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 20%;
	}

	min-width: 200px;
	min-height: 200px;
}
